# github-web/qFT8 is the WEBSITE repository: only LICENSE, .gitignore and docs/ (the website) belong here.
# Code never does (RELEASE-SH-1): release.sh refuses to go on when any of these is present at all.
*.java
*.kt
*.kts
*.py
*.pyc
*.sh
*.bat
*.cmd
*.ps1
*.gradle
*.properties
*.c
*.cc
*.cpp
*.h
*.class
*.jar
*.apk
*.aab
*.so
*.dll
*.dylib
*.exe
*.dmg
*.zip
*.tar.gz
*.keystore
*.jks
*.p8
*.p12
*.pem
*.key
build/
.gradle/
gradle/
*gradle*
app/
tools/
icon/
icon
test*
VERSION
CODE_VERSION
libdecode-java/
test_mocks*/
local.properties
.idea/
*.iml
.DS_Store
